body {
    margin: 0;
    background-color: #7A4A2E;
    color: rgb(88, 54, 3);
}

header, nav, main, footer {
    width: 900px;
    margin: auto;
    text-align: center;
    background-color: #F5E6CA;
    padding: 15px;
}

nav a {
    text-decoration: none;
    color: rgb(88, 54, 3);
}

nav a:hover {
    color: #bd7e20ea;
    background-color: rgb(190, 173, 151);
}

.box-image {
    width: 250px;
    height: 315px;
    border: 5px solid rgb(155, 119, 52);
}

ul {
    list-style: none;
    padding: 0;
}

table {
    margin: auto;
    background-color: #fde1b4;
    border: 5px solid rgb(155, 119, 52);
}

th, td {
    padding: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 8px;
    border-radius: 10px;
    background-color: #fde1b4;
    border: 2px solid rgb(155, 119, 52);
}

button {
    padding: 8px 20px;
    border-radius: 10px;
    background-color: #fde1b4;
    border: 2px solid rgb(155, 119, 52);
}

button:hover {
    background-color: rgb(192, 133, 56);
    cursor: pointer;
}

#main-header {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
}
